<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="mailServer" value=""/>
		<add key="mailServerPort" value=""/>
		<add key="mailfrom" value=""/>
		<add key="maileServerID" value=""/>
		<add key="maileServerPW" value=""/>
	</appSettings>
</configuration>
